@import "../../../style/__vendor.styl"

[data-atom-leaflet]
  position: relative
  display: block
  background-color: COLOR = #ddd
  display-flex()
  justify-content center
  align-content center
  align-items center
  &.full
    position: absolute !important
    width: 100% !important
    height: 100% !important
  &.big
    height: 12rem
  &.small
    height: 6rem
  &.tiny
    height: 4rem
  &:not(.full):not(.big):not(.small):not(.tiny)
    height: 8rem
  > .icon
    font-size: SIZE = 2.5rem
    color: lighten(COLOR, 90%)
    animation loading-icon 2s infinite linear
